@media(max-width:670px){
  .icon{
    width:50%;
  }

  .icon p{
    font-size: 12px;
    height:50px;
    padding-bottom:100px;
  }

  .map{
    display: none;
  }
  .minimap{
    display: block;
  }

  .atension{
    padding-bottom:0;
  }
}